# This file exemplifies how to write the RELEASE.local file

SUPPORT=/opt/epics/synApps-lnls-R1-0-0/support
EPICS_BASE=/opt/epics/base

# Specify the standard synApps configuration.
include $(SUPPORT)/configure/RELEASE
